<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Parvaah</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css' )}}" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />

  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/favcions/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/favcions/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/favcions/favicon-16x16.png" />
  <link rel="manifest" href="../static/assets/favcions/site.webmanifest" />
  {% block style %}{% endblock %}

  <script defer>
    console.log( "Checking Login Status" );
    fetch( '/api/login_status' )
      .then( response => response.json() )
      .then( data => {
        console.log( "USER DATA:", data );
        if ( data.status == "logged_in" ) {
          console.log( "Logged In" );
          document.getElementById( "landing_nav" ).style.display = 'none';


          // Show the appropriate navbar based on the user role
          if ( data.role == "elderly" ) {
            console.log( "Elderly Nav" );
            document.getElementById( "elderly_nav" ).style.display = 'flex';
          } else if ( data.role == "guardian" ) {
            document.getElementById( "guardian_nav" ).style.display = 'flex';
          } else if ( data.role == "caretaker" ) {
            document.getElementById( "caretaker_nav" ).style.display = 'flex';
          }
          console.log( "Setting Profile Info" );
          document.getElementById( "username" ).innerText = data.username;
          if ( data.profile_image ) {
            document.getElementById( "profile-pic" ).src = data.profile_image;
          }
          else {
            document.getElementById( "profile-pic" ).src = "{{url_for('static',filename='assets/images/profile_def_m.png')}}";
          }
          console.log( "Script End" );
        }
      } );
  </script>
</head>

<body>
  <div class="main-container">
    <!-- Header / Navbar -->
    <header class="header">
      <!-------------------------------------------------------------------------------------------------
          --------------------------------------------- Landing Nav  ----------------------------------------
          ------------------------------------------------------------------------------------------------- -->
      <nav id="landing_nav" class="navbar container">
        <a href="/" class="logo">
          <img src="../static/assets/images/Parvaah-logo.png" width="40" height="40" />
          <span>Parvaah</span>
        </a>
        <ul class="nav-links">
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/community">Community</a></li>
          <li><a href="/testimonials">Testimonials</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <div id="login-button">
          <a href="/user" class="btn btn-primary">Login / Sign Up</a>
        </div>
        <div class="burger-icon" onclick="toggleNav()">☰</div>

      </nav>
      <!-- Full-screen overlay for mobile navigation -->
      <div id="overlayMenu" class="overlay">
        <ul class="overlay-links">
          <li><a href="/about" onclick="toggleNav()">About</a></li>
          <li><a href="/services" onclick="toggleNav()">Services</a></li>
          <li><a href="/community" onclick="toggleNav()">Community</a></li>
          <li><a href="/testimonials" onclick="toggleNav()">Testimonials</a></li>
          <li><a href="/contact" onclick="toggleNav()">Contact</a></li>
          <li><a href="/user" class="btn btn-primary" onclick="toggleNav()">Login / Sign Up</a></li>
        </ul>
      </div>
      <!-------------------------------------------------------------------------------------------------
          --------------------------------------------- Elderly Nav ----------------------------------------
          ------------------------------------------------------------------------------------------------- -->
      <nav id="elderly_nav" class="navbar container" style="display: none;">
        <a href="/dashboard" class="logo">
          <img src="../static/assets/images/Parvaah-logo.png" width="40" height="40" />
          <div class="logo-text">
            <span>Parvaah</span>
            <p style="display: block; font-size: small">Elderly</p>
          </div>
        </a>

        <ul class="nav-links">
          <li><a href="/dashboard">Dashboard</a></li>
        </ul>
        <div class="profile">
          <div id="profile-info" class="profile-info">
            <a href="/profile" class="clear_link">
              <span id="username"></span>
              <img id="profile-pic" alt="Profile Pic" width="40" height="40">
            </a>
          </div>
          <div id="logout-btn">
            <a href="/logout" class="clear_link">Logout</a>
          </div>
        </div>
      </nav>

      <!-------------------------------------------------------------------------------------------------
          --------------------------------------------- Guardian Nav ----------------------------------------
          ------------------------------------------------------------------------------------------------- -->
      <nav id="guardian_nav" class="navbar container" style="display: none;">
        <a href="/dashboard_guardian" class="logo">
          <img src="../static/assets/images/Parvaah-logo.png" width="40" height="40" />
          <div class="logo-text">
            <span>Parvaah</span>
            <p style="display: block; font-size: small">Guardian</p>
          </div>
        </a>
        <ul class="nav-links">
          <li><a href="/dashboard_guardian">Dashboard</a></li>
        </ul>
        <div class="profile">
          <div id="profile-info" class="profile-info">
            <a href="/profile" class="clear_link">
              <span id="username"></span>
              <img id="profile-pic" alt="Profile Pic" width="40" height="40">
            </a>
          </div>
          <div id="logout-btn">
            <a href="/logout" class="clear_link">Logout</a>
          </div>
        </div>
      </nav>

      <!-------------------------------------------------------------------------------------------------
          --------------------------------------------- Caretaker Nav ----------------------------------------
          ------------------------------------------------------------------------------------------------- -->
      <nav id="caretaker_nav" class="navbar container" style="display: none;">
        <a href="/dashboard_caretaker" class="logo">
          <img src="../static/assets/images/Parvaah-logo.png" width="40" height="40" />
          <div class="logo-text">
            <span>Parvaah</span>
            <p style="display: block; font-size: small">Caretaker</p>
          </div>
        </a>
        <ul class="nav-links">
          <li><a href="/dashboard_caretaker">Dashboard</a></li>
        </ul>
        <div class="profile">
          <div id="profile-info" class="profile-info">
            <a href="/profile" class="clear_link">
              <span id="username"></span>
              <img id="profile-pic" alt="Profile Pic" width="40" height="40">
            </a>
          </div>
          <div id="logout-btn">
            <a href="/logout" class="clear_link">Logout</a>
          </div>
        </div>
      </nav>
    </header>

    <!-- Main Content Area -->
    <main>
      {% block content %}
      <!-- Place your content here -->
      {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <div class="footer-content">
          <div class="footer-logo">
            <img src="../static/assets/images/Parvaah-logo.png" alt="Parvaah Logo" width="40" height="40" />
            <span>Parvaah</span>
          </div>
          <div class="footer-links">
            <a href="privacy.html">Privacy Policy</a>
            <a href="terms.html">Terms of Service</a>
            <a href="#contact">Contact Us</a>
          </div>
          <div class="social-links">
            <a href="https://www.facebook.com/profile.php?id=61567122158733" aria-label="Facebook"><img
                src="../static/assets/images/facebook.png" width="24" height="24" /></a>
            <a href="#" aria-label="Twitter"><img src="../static/assets/images/twiter.png" width="24" height="24" /></a>
            <a href="https://www.instagram.com/parvaahcare/" aria-label="Instagram"><img
                src="../static/assets/images/insta.jpg" width="24" height="24" /></a>
          </div>
        </div>
        <p class="copyright">&copy; 2023 Parvaah. All rights reserved.</p>
      </div>
    </footer>
  </div>
  {% block script %}
  <script src="{{url_for('static',filename='js/script.js')}}"></script>
  {% endblock script %}
</body>

</html>
