{% extends 'base.html' %} {% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/community.css') }}" />{% endblock %} {% block content %}
<!-- Community Section -->
<main class="container community-section">
  <div style="padding: 30px 0 0 0"></div>

  <h1 class="community-title">Join the Parvaah Community</h1>

  <!-- WhatsApp Button -->
  <div class="whatsapp-button">
    <a href="https://chat.whatsapp.com/IIgbS1ZLIyrEXhuAM1m23G" target="_blank">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp Logo" />
      WhatsApp
    </a>
  </div>

  <!-- Socials Section -->
  <div class="socials-section">
    <h2 class="socials-title">Follow Us</h2>
    <div class="social-media-buttons">
      <!-- Instagram Button -->
      <div class="instagram-button">
        <a href="https://www.instagram.com/parvaahcare/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram Logo" />
          Instagram
        </a>
      </div>

      <!-- Twitter Button -->
      <div class="twitter-button">
        <a href="https://twitter.com/YOUR_TWITTER_HANDLE" target="_blank">
          <img src="../static/assets/images/twiter.png" alt="Twitter Logo" />
          Twitter
        </a>
      </div>

      <!-- Facebook Button -->
      <div class="facebook-button">
        <a href="https://www.facebook.com/profile.php?id=61567122158733" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg"
            alt="Facebook Logo" />
          Facebook
        </a>
      </div>
    </div>
  </div>

  <!-- Events Title -->
  <h2 class="events-title">Upcoming Events</h2>

  <!-- Upcoming Events Section -->
  <div class="events-section">
    <!-- Example Event 1 -->
    <div class="event-card">
      <h4>Health Awareness Webinar</h4>
      <p class="event-date">Date: November 25, 2024</p>
      <p>
        Join us for an informative webinar on maintaining health and wellness
        for the elderly, hosted by leading healthcare professionals.
      </p>
    </div>

    <!-- Example Event 2 -->
    <div class="event-card">
      <h4>Parvaah Community Meetup</h4>
      <p class="event-date">Date: December 10, 2024</p>

      <p>
        Meet other community members in person at our Parvaah Community Meetup,
        an event to foster connections and discuss elder care solutions.
      </p>
    </div>
  </div>
</main>
{% endblock content %}
