{% extends 'base.html' %} {% block style %}
<link rel="stylesheet" href="{{url_for('static',filename='homecare.css')}}" />
{% endblock style %} {% block content %}

<div style="padding: 50px 0 0 0"></div>

<!-- Homecare Section -->
<main class="container homecare-section">
  <h1 class="homecare-title">Request Our Homecare Services</h1>

  <div class="services-section">
    <!-- Housekeeping Service (As Button) -->
    <a href="/booking?type=homecare&service=Housekeeping" class="service-card">
      <img
        src="../static/assets/images/cleaner.png"
        alt="Housekeeping Logo"
        class="service-logo"
      />
      <h2 class="service-name">Housekeeping</h2>
      <div class="service-description">
        Our housekeeping service ensures your home remains clean, organized, and
        hygienic. Available on a daily or weekly basis.
      </div>
    </a>

    <!-- Cooking Service (As Button) -->
    <a href="/booking?type=homecare&service=Cooking" class="service-card">
      <img
        src="../static/assets/images/cooking.png"
        alt="Cooking Logo"
        class="service-logo"
      />
      <h2 class="service-name">Cooking</h2>
      <div class="service-description">
        Our skilled cooks prepare fresh, nutritious meals tailored to your
        dietary preferences, ensuring healthy, balanced meals daily.
      </div>
    </a>

    <!-- Daily/Weekly Check-ins (As Button) -->
    <a href="/booking?type=homecare&service=Laundary" class="service-card">
      <img
        src="../static/assets/favcions/laundry-machine.png"
        alt="Check-ins Logo"
        class="service-logo"
      />
      <h2 class="service-name">Laundary</h2>
      <div class="service-description">
        Regular check-ins to ensure the well-being and health of our elderly
        users. Choose between daily or weekly options.
      </div>
    </a>
  </div>
</main>

{% endblock content %}
