<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Parvaah</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login-style.css') }}">
</head>

<body>
    <main>
        <div class="box">
            <div class="inner-box">
                <div class="forms-wrap">
                    <form action="index.html" autocomplete="off" class="sign-in-form">
                        <a href="/" class="home-link">
                            <div class="logo" style="text-align: center; margin-bottom: 20px;">
                                <img src="{{url_for('static',filename='/Assets/images/Parvaah-logo.png')}}"
                                    alt="parvaah-logo" style="width: 80px; height: auto;" />
                                <div class="logo-text">
                                    <h1>Parvaah</h1>
                                    <h5>Care at Your Fingertips</h5>
                                </div>
                                <!-- style="font-size: 2.5em; margin-top: 10px; -->
                            </div>
                        </a>

                        <div class="heading">
                            <h2>Welcome Back</h2>
                            <h6>Not registred yet?</h6>
                            <a href="#" class="toggle">Sign up</a>
                        </div>

                        <div class="actual-form">
                            <div class="input-wrap">
                                <input type="text" minlength="4" class="input-field" autocomplete="off" required />
                                <label>Name</label>
                            </div>

                            <div class="input-wrap">
                                <input type="password" minlength="4" class="input-field" autocomplete="off" required />
                                <label>Password</label>
                            </div>

                            <input type="submit" value="Sign In" class="btn" />

                            <button type="button" class="btn google-login">Signup with Google</button>
                            <button type="button" class="btn otp-login">Login with OTP</button>

                            <p class="text">
                                Forgotten your password or you login datails?
                                <a href="#">Get help</a> signing in
                            </p>
                        </div>
                    </form>
                    <!-------------------------------------------------------------------------------------------------
                    --------------------------------------------- Sign Up Form ----------------------------------------
                    ------------------------------------------------------------------------------------------------- -->
                    <form action="/" autocomplete="on" class="sign-up-form">
                        <a href="/" class="home-link">
                            <div class="logo" style="text-align: center; margin-bottom: 20px;">
                                <img src="{{url_for('static',filename='/Assets/images/Parvaah-logo.png')}}"
                                    alt="parvaah-logo" style="width: 80px; height: auto;" />
                                <div class="logo-text">
                                    <h1>Parvaah</h1>
                                    <h5>Care at Your Fingertips</h5>
                                </div>
                                <!-- style="font-size: 2.5em; margin-top: 10px; -->
                            </div>
                        </a>
                        <div class="heading">
                            <h2>Get Started</h2>
                            <h6>Already have an account?</h6>
                            <a href="#" class="toggle">Sign in</a>
                        </div>

                        <div class="actual-form">
                            <div class="input-wrap">
                                <input type="text" minlength="4" class="input-field" autocomplete="off" required />
                                <label>Name</label>
                            </div>

                            <div class="input-wrap">
                                <input type="email" class="input-field" autocomplete="off" required />
                                <label>Email</label>
                            </div>

                            <div class="input-wrap">
                                <input type="password" minlength="4" class="input-field" autocomplete="off" required />
                                <label>Password</label>
                            </div>

                            <input type="submit" value="Sign Up" class="btn" />

                            <p class="text">
                                By signing up, I agree to the
                                <a href="#">Terms of Services</a> and
                                <a href="#">Privacy Policy</a>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="carousel">
                    <div class="images-wrapper">
                        <img src="{{url_for('static',filename='assets/images/login-img1.png')}}"
                            class="image img-1 show" alt="" />
                        <img src="{{url_for('static',filename='assets/images/login-img4.png')}}" class="image img-2"
                            alt="" />
                        <img src="{{url_for('static',filename='assets/images/login-img3.png')}}" class="image img-3"
                            alt="" />
                    </div>

                    <div class="text-slider">
                        <div class="text-wrap">
                            <div class="text-group">
                                <div class="text-1 text-group show">
                                    <h2>Parvaah</h2>
                                    <h6>Care at Your Fingertips</h6>
                                    <p>Your One-Stop Solution For Elderly Care</p>
                                </div>

                                <div class="text-2">
                                    <h2>Homecare Services Tailored to Your Needs</h2>
                                    <p>Get personalized help with bathing, dressing, meal preparation, medication
                                        reminders,
                                        and more.</p>
                                </div>
                                <div class="text-3">
                                    <h2>Connect with Family, Friends, and Caregivers Seamlessly</h2>
                                    <h6>Stay in touch through chat, video calls, and WhatsApp groups to reduce
                                        loneliness.
                                    </h6>
                                </div>
                            </div>
                        </div>

                        <div class="bullets">
                            <span class="active" data-value="1"></span>
                            <span data-value="2"></span>
                            <span data-value="3"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="{{ url_for('static', filename='login-script.js')}}"></script>
</body>

</html>
