{% extends 'base.html' %} {% block style %} {% endblock %} {% block content %}

<main>
  <section id="services" class="services">
    <div class="container">
      <div>f</div>
      <h2>Our Services</h2>
      <div class="service-grid">
        <div class="service-card">
          <img
            src="../static/assets/images/healthhhh.png"
            alt="Healthcare Icon"
            width="64"
            height="64"
          />
          <h3>Healthcare Management</h3>
          <p>Medication reminders, doctor appointments, and health tracking</p>
        </div>
        <div class="service-card">
          <img
            src="../static/assets/images/emergency.png"
            alt="Emergency Icon"
            width="64"
            height="64"
          />
          <h3>Emergency Assistance</h3>
          <p>24/7 support and quick access to emergency services</p>
        </div>
        <div class="service-card">
          <img
            src="../static/assets/images/socialengagement.png"
            alt="Social Icon"
            width="64"
            height="64"
          />
          <h3>Social Engagement</h3>
          <p>
            Connect with peers, join interest groups, and participate in events
          </p>
        </div>
        <div class="service-card">
          <img
            src="../static/assets/images/dailyasistance.jpg"
            alt="Daily Tasks Icon"
            width="64"
            height="64"
          />
          <h3>Daily Assistance</h3>
          <p>Help with errands, housekeeping, and transportation</p>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
