{% extends 'base.html' %} {% block style %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{{url_for('static',filename='thanks.css')}}" />

{% endblock %} {% block content %}

<div class="lol">
    <div class="thankyou-container">
      <div class="logo">
        <img
          src="../static/assets/images/Parvaah-logo.png"
          alt="Parvaah Logo"
          style="max-width: 100%; height: auto; display: block; margin: 0 auto"
        />
      </div>
      <h1>Thank You!</h1>
      <p>
        Thank you for choosing Parvaah Care Services. <br />
        We’ll get back to you soon.
      </p>
      <div style="padding: 30px 0 0 0"></div>

      <a href="/dashboard" class="back-button">Back to Dashboard</a>
    </div></div>
  </body>
  {% endblock content %}

