{% extends 'base.html' %} {% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="{{url_for('static',filename='css/appointreminder.css')}}" />
{% endblock %}
{% block content %}
<div class="container">
  <img src="../static/assets/images/PARVAH (6).png" class="bg-left" alt="Background Left" />
  <img src="../static/assets/images/PARVAH (5).png" class="bg-right" alt="Background Right" />
  <div class="box">
    <div class="heading">
      <h2>Appointment Reminder</h2>
      <h4>Stay on Track with Your Appointments</h4>
    </div>

    <div class="actual-form">
      <form action="{{ url_for('appointreminder') }}" method="POST">
        <div class="input-wrap">
          <input type="text" name="appointment_name" class="input-field" placeholder="Appointment Title" required />
        </div>

        <div class="input-wrap">
          <input type="text" name="location" class="input-field" placeholder="Location" required />
        </div>

        <div class="input-wrap">
          <input type="time" name="time" class="input-field" required />
        </div>

        <div class="input-wrap">
          <input type="date" name="date" class="input-field" required />
        </div>

        <button type="submit" class="btn">Set Reminder</button>
      </form>

      <a href="#" class="btn" onclick="window.history.back();">Back</a>

      <p class="text">You will receive reminders for your appointments.</p>

      <!-- <ul>
          {% for appointment in appointments %}
          <li>
            {{ appointment.title }} at {{ appointment.location }} on {{
            appointment.date }} at {{ appointment.time }}
          </li>
          {% endfor %}
        </ul> -->
    </div>
  </div>
</div>
{% endblock content %}
