{% extends 'base.html' %} {% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}" />
{% endblock %} {% block content %}
<div style="padding: 80px 0 0 0"></div>

<!-- Profile Section -->
<main class="container">
  <div class="profile-section">
    <!-- Profile Photo -->
    <div class="profile-photo">
      <img
        src="{{ user.profile_image if user.profile_image else url_for('static', filename='assets/images/profile_def_m.png') }}"
        alt="User Photo" />

    </div>

    <!-- Profile Information -->
    <div class="profile-info">
      <h2>{{ user.full_name if user.full_name else user.username }}</h2>
      <p><strong>Age :</strong>{{user.age}}</p>
      <p><strong>Date of Birth:</strong> {{ user.dob }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Address:</strong> {{ user.address or 'Not provided'}}</p>
    </div>

    <div class="edit-profile">
      <a href="{{ url_for('form') }}" style="display:flex;">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff">
          <path
            d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" />
        </svg>
      </a>
    </div>
  </div>


  <!-- Medical Information Section -->
  <div class="profile-container medical-info">
    <h3>Medical Information</h3>
    <p>
      <strong>Blood Type:</strong>
      <span class="blood-group">{{ user.blood_type }}</span>
    </p>
    <p><strong>Diseases/Conditions:</strong> {{ user.diseases }}</p>
  </div>

  <!-- Guardian Information Section -->
  <div class="profile-container guardian-info">
    <h3>Guardian Information</h3>
    {% if guardian %}
    <p><strong>Name:</strong> {{ guardian.full_name }}</p>
    <p><strong>Email:</strong> {{ guardian.email }}</p>
    <p><strong>Phone:</strong> {{ guardian.phone_no }}</p>
    <p><strong>Address:</strong> {{ guardian.address }}</p>
    <hr />
    {% else %}
    <p>Guardian id not linked.</p>
    {% endif %}
  </div>
</main>
<div style="padding: 50px 0 0 0"></div>
{% endblock %}
