/* Container for the two tabs */
.tab-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.tab-container button {
	width: 50%;
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	text-align: center;
	transition: 0.3s;
	font-size: 17px;
}

section {
	padding: 1rem 10rem;
}
.tab-container button:hover {
	background-color: var(--primary-color);
	color: white;
}

.tab-container button.active {
	background-color: var(--secondary-color);
	color: white;
}

/* Full page container for content */
.dashboard-container {
	padding: 20px;
}

/* Hide content by default */
.tabcontent {
	display: none;
}

.tabcontent h3 {
	margin-top: 0;
}

#notification-panel {
	background-color: #f1f1f1;
	padding: 10px;
	border-radius: 5px;
}

/* Table Styles */
table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
	font-size: 1rem;
	text-align: left;
}

th,
td {
	padding: 12px 15px;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: var(--primary-color);
	color: white;
}

tr:nth-child(even) {
	background-color: var(--light-bg-color);
}

tr:hover {
	background-color: var(--secondary-color);
	color: white;
}

.status-select {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
	background-color: white;
	color: var(--text-color);
}

.update-button {
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	background-color: var(--primary-color);
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.update-button:hover {
	background-color: var(--secondary-color);
}
